$actionColor: #000000;
$boxShadow: 0 .4rem 1.2rem 0 rgba(10,10,10,0.10);

.card {
	border-radius: 0 0 .3rem .3rem;
	box-shadow: $boxShadow;
	&__img {
		border-radius: .3rem .3rem 0 0;
		height: 24.3rem;
		width: 100%;
	}
	&__content {
		padding: 0 1.6rem 2rem 1.6rem;
		&-heading {
			font-size: 1.7rem;
			font-weight: 400;
			margin-top: 2rem;
			margin-bottom: 1.4rem;
		}
		&-action {
			color: $actionColor;
			font-size: 1.5rem;
			&::after {
			// Add any icon styles here //
			}
		}
	}
}